* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.logo > img {
  width: 50px;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu{
  display: none;
}

nav{
  display: flex;
  flex-direction: column;
  background-color: dimgray;
  color: white;
  padding: 2px;
}

.hamburger{
  padding:0;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.product{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  border-radius: 3px;
  margin: 5px 20px;
}

footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid grey;
  margin: 20px;
}

.social {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.social_icon{
  display: flex;
  flex-direction: row;
  align-self: center;
}



@media (min-width: 720px) and (max-width: 990px){

  header{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
  }

  h1{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product{
    margin: 10px 40px;
  }
}



@media (min-width: 991px){

  header{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
  }


  .menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .navbar{
    display: flex;
    flex-direction: column;
    background-color: dimgray;
    align-items: flex-end;
    color: white;
    padding: 2px;
  }

  .menu li{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    padding: 0 40px;
  }

  .hamburger{
    display: none;
  }

  main{
    display: flex;
    flex-direction: row;
  }

  .product{
    width: 33.3%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid grey;
    border-radius: 3px;
    margin: 20px 30px;
  }

}